.index_container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-size: .3rem;
  color: #3e3e3e;

  //  banner
  .banner_wrap {
    .banner_img {
      width: 100%;
    }
  }

  //  分类
  .category_wrap {
    .cate_ul {
      width: 100%;
      padding: 0.4rem 0;
      .cate_list {
        display: inline-block;
        width: 25%;
        height: 1.5rem;
        padding-top: 0.3rem;
        text-align: center;
        position: relative;
        float: left;
        span {
          display: block;
        }
        img {
          width: 0.8rem;
          border-radius: 50%;
        }
      }
      .more_cate {
        padding: 0;
      }
      .more_btn {
        width: 23%;
      }
    }
    .recommend_list {
      margin-bottom: 1rem;
      .recommend_ul {
        width: 100%;
        .recommend_li {
          display: flex;
          width: 95%;
          margin: 0.5rem 2.5%;
          .re_img {
            width: 18%;
            max-height: 80px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .re_info {
            width: 80%;
            padding: 1% 1%;
            span {
              display: inline-block;
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }

  //  推荐

}
